<style>
a:hover {
  color: black;
  text-decoration: underline;
}
    
</style>

{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
   

  {% endif %}
  
  <a href="mailto:dimitris.effrosynidis@gmail.com" style="text-decoration: none;color: black;" target="_blank"><img src="https://deffro.github.io/images/icons/mail.png" style="width: 20px; margin-bottom:7px;"> Mail </a>
  <a href="https://www.linkedin.com/in/dimitrios-effrosynidis/" style="text-decoration: none;color: black;margin-top:-20px;" target="_blank"><img src="https://deffro.github.io/images/icons/linkedin.png" style="width: 20px; margin-bottom:7px;"> LinkedIn </a>
  <a href="https://github.com/Deffro" style="text-decoration: none;color: black;margin-top:-20px;" target="_blank"><img src="https://deffro.github.io/images/icons/github.png" style="width: 20px; margin-bottom:7px;"> Github </a>  
  <a href="https://scholar.google.com/citations?user=eDbjFQMAAAAJ&hl=en&oi=ao" style="text-decoration: none;color: black;margin-top:-20px;" target="_blank"><img src="https://deffro.github.io//images/icons/scholar.png" style="width: 20px; margin-bottom:7px;"> Google Scholar </a>    
  <a href="https://medium.com/@dimitris.effrosynidis" style="text-decoration: none;color: black;margin-top:-20px;" target="_blank"><img src="https://deffro.github.io//images/icons/medium.png" style="width: 20px; margin-bottom:7px;"> Medium </a>      
  <a href="https://www.kaggle.com/deffro" style="text-decoration: none;color: black;margin-top:-20px;" target="_blank"><img src="https://deffro.github.io//images/icons/kaggle.png" style="width: 20px; margin-bottom:7px;"> Kaggle </a>
  
   <p style="font-size:15px;text-align: justify;">Data Scientist with 2 years of experience in business and 4 years of experience in research. Strong analytical thinker with problem-solving skills and result-oriented with a strong aptitude for continuous learning. Doing a Ph.D. in Data Science focused on tabular environmental data, which is expected to be defended by 2022. Blogging and writing scientific papers at the same time.</p>

   <h3>Skills</h3>
   <ul>
        <li>Python</li>
        <li>MySQL</li>
        <li>Data Mining</li>
        <li>Data Analysis</li>
        <li>Data Visualization</li>
        <li>Machine Learning</li>
   </ul>
  </div>
{% endif %}

