<style>
a:hover {
  color: black;
  text-decoration: underline;
}
    
</style>

{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
   

  {% endif %}
  
  <a href="mailto:dimitris.effrosynidis@gmail.com" style="text-decoration: none;color: black;" target="_blank"><img src="https://deffro.github.io/images/icons/mail.png" style="width: 20px; margin-bottom:7px;"> Mail </a>
  <a href="https://www.linkedin.com/in/dimitrios-effrosynidis/" style="text-decoration: none;color: black;margin-top:-20px;" target="_blank"><img src="https://deffro.github.io/images/icons/linkedin.png" style="width: 20px; margin-bottom:7px;"> LinkedIn </a>
  <a href="https://github.com/Deffro" style="text-decoration: none;color: black;margin-top:-20px;" target="_blank"><img src="https://deffro.github.io/images/icons/github.png" style="width: 20px; margin-bottom:7px;"> Github </a>  
  <a href="https://scholar.google.com/citations?user=eDbjFQMAAAAJ&hl=en&oi=ao" style="text-decoration: none;color: black;margin-top:-20px;" target="_blank"><img src="https://deffro.github.io//images/icons/scholar.png" style="width: 20px; margin-bottom:7px;"> Google Scholar </a>    
  <a href="https://medium.com/@dimitris.effrosynidis" style="text-decoration: none;color: black;margin-top:-20px;" target="_blank"><img src="https://deffro.github.io//images/icons/medium.png" style="width: 20px; margin-bottom:7px;"> Medium </a>      
  <a href="https://www.kaggle.com/deffro" style="text-decoration: none;color: black;margin-top:-20px;" target="_blank"><img src="https://deffro.github.io//images/icons/kaggle.png" style="width: 20px; margin-bottom:7px;"> Kaggle </a>
  
   <p style="font-size:15px;text-align: justify;">
	Experienced Data Scientist with a Ph.D. in Data Science, blending 6+ years of research expertise with 4+ years in business. Proven track record in analytics, programming, and modeling. Published 13 papers, executed successful projects, and showcased skills through blogging and GitHub. Dedicated to ongoing learning and staying abreast of industry trends.
	</p>

   <h3>Skills</h3>
   <ul>
        <li>Python</li>
        <li>MySQL</li>
        <li>Data Mining</li>
        <li>Data Analysis</li>
        <li>Data Visualization</li>
        <li>Machine Learning</li>
   </ul>
   <div class="badge-container">
    <a href="https://www.python.org/" target="_blank"><img alt="Python" src="https://img.shields.io/badge/-Python-4B8BBE?style=flat-square&logo=python&logoColor=white" height="7"/></a>
    <a href="https://pandas.pydata.org/" target="_blank"><img alt="Pandas" src="https://img.shields.io/badge/-Pandas-150458?style=flat-square&logo=pandas&logoColor=white" height="2"/></a>
    <a href="https://numpy.org/" target="_blank"><img alt="Numpy" src="https://img.shields.io/badge/-Numpy-8998CF?style=flat-square&logo=numpy&logoColor=white" height="27"/></a>
    <a href="https://scikit-learn.org/stable/index.html" target="_blank"><img alt="Scikit-learn" src="https://img.shields.io/badge/-Sklearn-fa9c3c?style=flat-square&logo=scikitlearn&logoColor=white" height="27"/></a>
    <a href="https://scipy.org/" target="_blank"><img alt="SciPy" src="https://img.shields.io/badge/-SciPy-325aa8?style=flat-square&logo=scipy&logoColor=white" height="27"/></a>
    <a href="https://www.sktime.org/en/stable/" target="_blank"><img alt="Sktime" src="https://img.shields.io/badge/-Sktime-15a382?style=flat-square" height="27"/></a>
	</div>

</div>
{% endif %}

